include includes/head.pug


div#barba-wrapper
    div.barba-container(data-namespace="Single")
        header.header--video(style="background-image: url('assets/images/bg-3.jpg');")
          | content videos goes here 
          a(href="index.html") yo
include includes/foot.pug
