@font-face {
    font-family: 'timelessregular';
    src: url('assets/fonts/timeless-webfont.woff2') format('woff2'),
         url('assets/fonts/timeless-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'timelessbold';
    src: url('assets/fonts/timeless-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/timeless-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}