nav
    a.nav__item(style="background-image: url('assets/images/bg-1.jpg');", data-zindex=1, href="index.html")
        h3.nav__item__title Story
    a.nav__item(style="background-image: url('assets/images/bg-2.jpg');", data-zindex=2, href="videos.html")
        h3.nav__item__title Gallery
    a.nav__item(style="background-image: url('assets/images/bg-3.jpg');", data-zindex=3, href="videos.html")
        h3.nav__item__title Videos
    a.nav__item(style="background-image: url('assets/images/bg-1.jpg');", data-zindex=4, href="videos.html")
        h3.nav__item__title Cast

