nav
    div.nav__item(style="background-image: url('assets/images/bg-1.jpg');")
        h3.nav__item__title Story
    div.nav__item(style="background-image: url('assets/images/bg-2.jpg');")
        h3.nav__item__title Gallery
    div.nav__item(style="background-image: url('assets/images/bg-3.jpg');")
        h3.nav__item__title Videos
    div.nav__item(style="background-image: url('assets/images/bg-1.jpg');")
        h3.nav__item__title Cast

